<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSE Example</title>
</head>
<body>
<h1>SSE</h1>
<div id="output"></div>

<script th:inline="javascript">
    const memberId = /*[[${memberId}]]*/ '1';

    const sse = new EventSource("/api/v1/stream/sub/" + memberId);

    sse.addEventListener('notify', (e) => {
        const { data: receivedConnectData } = e;
        console.log('notify event data: ',receivedConnectData);
        const outputDiv = document.getElementById("output");
        outputDiv.innerHTML += `<p>${receivedConnectData}</p>`;
    });

    sse.onerror = (error) => {
        console.error(`오류: ${error}`);
        // sse.close();
    };
</script>

</body>
</html>
